---
---
/* Screen CSS */

/* Minified Eric Meyer reset CSS; see css/_reset.css */
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/*
  End reset CSS.
*/

/*
  Colors:
*/
  $pink: #de01e6; // base pink
  $ltpink: #e069e5; // light pink
  $dkpink: #c400cb; // dark pink
  $red: #ff3d3d; // base red
  $ltred: #ff7575; // light red
  $orange: #ff9200; // base orange
  $ltorange: #ffc475; // light orange
  $green: #d4fd00; // base green
  $ltgreen: #e7fd74; // light green
  $blue: #0f88e5; // base blue
  $ltblue: #71b2e4; // light blue
  $text: #f8f8f2; // normal text
  $dktext: #aaaaaa; // darkened text
  $background: #353b41; // background slate-blue


/* ===== BASE STYLES ============ */
html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: $background;
  color: $text;
  font-family: "Aptifer Slab W04";
  font-size: 19px;
  line-height: 26px;
  padding: 24px;
}

a {
  color: $ltorange;
  text-decoration: none;
}
/*
nav {
  background: darken($background, 12%);
}
*/
pre,
code {
  font-size: 90%;
}
pre code {
  font-size: 100%;
}
nav a {
  color: $ltred;
}
footer {
   color: $dktext;
}
footer a {
  color: $ltblue;
}
h1 {
   font-size: 27px;
   line-height: 36px;
   color: grayscale($ltgreen);
}
h1 a {
  color: $ltgreen;
}
nav,
footer,
.tagline {
  font-family: "Aptifer Sans W04";
  color: $dktext;
}

/* Responsive Media */
audio,
img,
video {
  display: block;
  max-width: 100%;
}
picture img {
  width: 100%;
}

/* Typical bold and italic styles */
b,
strong {
  font-weight: bold;
}
i,
em,
cite {
  font-style: italic;
}

/* ===== LAYOUT STYLES ========== */




/* ===== MODULAR STYLES ========= */
.tagline,
#navigation .accessibility {
  position: absolute;
  left: -10000px;
}
.home .tagline {
  position: static;
}
.rights,
.colophon {
  display: inline;
}


/* ===== STATE STYLES =========== */
.print {
  display: none;
}

/* Prism.js Syntax Highlighter */
/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+ruby+haml+json+markdown+scss */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  color: $text;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Monaco, Menlo, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: darken($background, 12%);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: lighten($background, 30%);
}

.namespace {
  opacity: .7;
}

.token.constant,
.token.symbol,
.token.deleted {
  color: $red;
}

.token.boolean,
.token.number {
  color: $ltpink;
}

.token.attr-name,
.token.property,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $green;
}

.token.punctuation,
.token.operator,
.token.url,
.token.variable {
  color: $text;
}

.language-css .token.string,
.style .token.string,
.token.attr-value,
.token.function {
  color: $ltorange;
}

.token.doctype,
.token.atrule {
  color: $dkpink;
}

.token.regex,
.token.entity {
  color: $ltred;
}

.token.tag,
.token.tag .token.punctuation,
.token.selector,
.token.keyword {
  color: $ltblue;
}

.token.important {
  color: $red;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
