<!DOCTYPE html>
<html lang="en" class="nojs" id="webpg-es">
<head prefix="og: http://ogp.me/ns#">
  <title>{{ page.title }}: Webpg.es</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
  <link rel="stylesheet" media="screen" href="/assets/css/screen.css" />
  <link rel="stylesheet" media="print" href="/assets/css/print.css" />
  <link rel="stylesheet" href="//fast.fonts.net/cssapi/51457bd3-b994-4ca8-8619-b054466c81ab.css"/>
  <!-- Open Graph Protocol Meta Tags: -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ page.description }}" />
<!-- TODO: Set up a default image; override as needed in per-page YAML
  <meta property="og:image" content="{{ page.webpges_img | absolute_url }}" />
  <meta property="og:image:type" content="image/png" />
-->


</head>
<body>
<div id="page" class="{{page.bodyclass}}">

  <header id="header">
    <h1><a href="http://webpg.es/" rel="home">webpg.es</a>{{ page.url }}</h1>
    <p class="tagline">Companion site for <cite>How to Design and Write Web Pages Today</cite>, 2nd edition</p>
    <!--
    <nav id="navigation">
      <ul class="navigation">
        <li class="accessibility"><a href="#content">Skip to page content</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/setup/">Setup</a></li>
        <li><a href="/rpk/">RPK</a></li>
        <li><a href="/docs/">Docs</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
    -->
  </header>

  <main id="content">
    <article id="primary">
      <h2>{{ page.title}}</h2>
      {{ content }}
    </article>
  </main>

  <!--
  <aside id="supporting">
    <h2>Supporting Content Heading</h2>
  </aside>
  -->

  <footer id="footer" prefix="dc: http://purl.org/dc/terms/ cc: http://creativecommons.org/ns#">
    <ul class="credits">
      <li class="rights">
        Site content and design by
        <a href="https://karlstolley.com/"
          property="dc:creator cc:attributionName"
          rel="cc:attributionURL">Karl Stolley</a>. The <cite property="dc:title">Companion Site for
        How to Design and Write Web Pages Today, 2nd ed.</cite> is licensed under
        <a href="http://creativecommons.org/licenses/by/4.0/"
          rel="license">Creative Commons</a>. <span class="print">Original work at
        <a href="https://webpg.es{{ page.url }}"
          rel="dc:source">https://webpg.es{{ page.url }}</a>.</span>
      </li>
      <li class="colophon">
        Site created with the <a href="https://github.com/webpges/rpk">RPK</a> using
        <a href="https://validator.w3.org/check/referer">HTML</a> and
        <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS</a>. Aptifer Sans and
        Aptifer Slab typefaces from <a href="https://www.fonts.com/search/all-fonts?Licenses=Web&amp;searchtext=aptifer">Fonts.com</a>.
      </li>
      <li class="problems">
        Spot a problem with this page? Report it on <a
        href="{{site.webpges_repo}}/issues/new?title=Problem+with+%22{{ page.title | uri_escape }}%22+%28{{page.path}}%29">GitHub</a>.
      </li>
    </ul>
  </footer>

<!--/#page-->
</div>

<script src="/assets/js/site.js"></script>

</body>
</html>
